<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us">
<head>
	<style type="text/css">
	input.groovybutton{
   	font-size:12px;
   	width:130px;
   	height:20px;
   	background-color:#66AAFF;
	}
	</style>

	<title>Account Details</title>
	<link rel="stylesheet" href="/static/css/jq.css" type="text/css" media="print, projection, screen" />
	<link rel="stylesheet" href="/static/css/style.css" type="text/css" id="" media="print, projection, screen" />
	<script type="text/javascript" src="/static/js/jquery-latest.js"></script>
	<script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script>
	<script type="text/javascript" src="/static/js/jquery.tablesorter.pager.js"></script>
	<script type="text/javascript" src="/static/js/chili-1.8b.js"></script>
	<script type="text/javascript" src="/static/js/docs.js"></script>
	<script type="text/javascript" src="/static/js/examples.js"></script>
	<script type="text/javascript" id="js">
			$(document).ready(function() {
			// call the tablesorter plugin
			$("table").tablesorter();
			}); 
	</script>
	
	<script type="text/javascript">
			//Form Validation
		    function onlynumbers(e){
			var keynum
			var keychar
			var numcheck
			//IE
			if(window.event){
			    keynum = e.keyCode
			}
			// Netscape/Firefox/Opera
			/*else if(e.which){
			    keynum = e.which
			}*/
			keychar = String.fromCharCode(keynum)
			numcheck = /\d/
			return numcheck.test(keychar)
		    }
			
		    function validate_form(){
				var totalBal = +"{{tot_bal1}}"
				var netwBal=+"{{nw_bal1}}"
		    	var mfBal =+"{{mf_bal1}}"
		    	var poBal =+"{{po_bal1}}"
		    	var foBal = +"{{fo_bal1}}"
		    	var signMF=document.form1.signMF[0].checked
				var signPO=document.form1.signPO[0].checked
				var signFO=document.form1.signFO[0].checked
				var temp_MF,temp_PO,temp_FO
				if(signMF){
					temp_MF=+document.form1.temp_MF.value
				}else{
					temp_MF=-document.form1.temp_MF.value
				}
				if(signPO){
					temp_PO=+document.form1.temp_PO.value
				}else{
					temp_PO=-document.form1.temp_PO.value
				}
				if(signFO){
					temp_FO=+document.form1.temp_FO.value
				}else{
					temp_FO=-document.form1.temp_FO.value
				}
				if(mfBal + temp_MF < 0){
					alert("Incorrect change in MF")
					return false;
				}
				if(poBal + temp_PO < 0){
					alert("Incorrect change in PO")
					return false;
				}
				if(foBal + temp_FO < 0){
					alert("Incorrect change in FO")
					return false;
				}
				//document.write(totalBal)
				//document.write(hell)
				//document.write( foBal)// + temp_FO)
				if(totalBal < mfBal + temp_MF + poBal + temp_PO + foBal + temp_FO){
					alert("Insufficient net total  balance")
					return false;
				}
				document.form1.temp_MF.value=temp_MF
				document.form1.temp_PO.value=temp_PO
				document.form1.temp_FO.value=temp_FO
				return true;
				
		    }
	</script>
</head>
    
<body>
<div id="banner">	
	<h1>IIT Ropar<em>Bank</em></h1>
	<h2>Financial Management Online</h2>
	<h3>Your Money is in Safe Hands</h3>
</div>
<div id="main">
	<h1>Welcome Mr {{user_name}}<br/></h1>
	<p> Withdrawl Balance {{nw_bal1}}<br/>
	    Total Balance is : Rs {{tot_bal1}}.00<br/>
	</p>
		<center>
		<form id="form8" name="form8" method="post" action="/cooperative_Bank/fm/Trans" onsubmit=" ";>
    		 <input type="submit" class="groovybutton" value="Transactions" />
    	</form>
    	</center>
	<h1>Account Details</h1>
	
	<div id="demo">
		<table cellspacing="1" class="tablesorter">
			<thead>
					<tr>
						<th>Block For</th>   
						<th>Current Allocation</th>
						<th>Allocate</th>
					</tr>
			</thead>
			<tbody>
	 			<form id="form1" name="form1" method="post" action="#" onsubmit="return validate_form()";>
				    <tr>
						  <td><a href="MF"> Mutual Funds</a></td> 
						  <td>{{mf_bal1}}</td>
						  <td>
							  <input type="hidden" name="user_id" value={{user_id1}}>
							  <input type="text"  name="temp_MF" onkeypress="return onlynumbers(event)"/> <br/>
							  <input type="radio" name="signMF" value="plus" checked="true" /> Add
							  <input type="radio" name="signMF" value="minus" /> Reduce
						  </td> 
					</tr>
					<tr>
						  <td><a href="IPO"> IPO</a></td> 
						  <td>{{po_bal1}}</td>
						  <td>
							    <input type="text"  name="temp_PO" onkeypress="return onlynumbers(event)"/> <br/>
							    <input type="radio" name="signPO" value="plus" checked="true"/> Add
							    <input type="radio" name="signPO" value="minus" /> Reduce
						  </td>
					</tr>
					<tr>
						  <td><a href="FO"> FO</a></td> 
						  <td>{{fo_bal1}}</td> 
						  <td>
							  <input type="text"  name="temp_FO" onkeypress="return onlynumbers(event)"/><br/>
							  <input type="radio" name="signFO" value="plus" checked="true"/> Add
							  <input type="radio" name="signFO" value="minus" /> Reduce
						      
						  </td>
					</tr>
				</tbody>
		</table>
		<center>
		<input type="submit"class="groovybutton" value="Submit" />
		</center>
		</form>
	</div>	
</div>
	
</body>

</html>

