<html>
    <head>
	<title>Available IPOs</title>
  		   <style type="text/css">
			input.groovybutton{
		   	font-size:12px;
		   	width:130px;
		   	height:20px;
		   	background-color:#66AAFF;
		}
		</style>
	
		<link rel="stylesheet" href="/static/css/jq.css" type="text/css" media="print, projection, screen" />
		<link rel="stylesheet" href="/static/css/style.css" type="text/css" id="" media="print, projection, screen" />
		<script type="text/javascript" src="/static/js/jquery-latest.js"></script>
		<script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script>
		<script type="text/javascript" src="/static/js/jquery.tablesorter.pager.js"></script>
		<script type="text/javascript" src="/static/js/chili-1.8b.js"></script>
		<script type="text/javascript" src="/static/js/docs.js"></script>
		<script type="text/javascript" src="/static/js/examples.js"></script>
		<script type="text/javascript" id="js">
				$(document).ready(function() {
				// call the tablesorter plugin
				$("table").tablesorter();
				}); 
		</script>
    </head>

   <body>
   	    <div id="banner">	
			<h1>IIT Ropar<em>Bank</em></h1>
			<h2>Financial Management Online</h2>
			<h3>Your Money is in Safe Hands</h3>
		</div>
		
		<div id="main">
			<h1>Welcome Mr {{user_name}}<br/></h1>
			<p> Withdrawl Balance {{nw_bal1}}.00<br/>
	    		Total Balance is : Rs {{tot_bal1}}.00<br/>
				IPO Balance is : Rs {{po_bal1}}.00<br/>
			</p>	
		</div>
		<center>
		<table>
			<tr>
				<td>
			  		<form id="form2" name="form2" method="post" action="/cooperative_Bank/fm/MF" onsubmit=" ";>
		    		 <input type="submit" class="groovybutton" value="MF" />
		    		</form>
    			</td>
    			<td>
		    		<form id="form3" name="form3" method="post" action="/cooperative_Bank/fm/FO" onsubmit=" ";>
		    		 <input type="submit" class="groovybutton" value="FO" />
		    		</form>
    			</td>
    			<td>
    				<form id="form4" name="form4" method="post" action="/cooperative_Bank/fm/Trans" onsubmit=" ";>
    		 		<input type="submit" class="groovybutton" value="Transactions" />
    				</form>
    			</td>
    		</tr>
    	</table>
    	</center>
		
	  <h1>IPOs</h1>
	  <div id="demo">
			<table cellspacing="1" class="tablesorter">					     
		  	<form id="form2" name="form2" method="post" action="/cooperative_Bank/fm/Thank1" onsubmit=" ";>
			      {% if ipo_list %}
			      <thead>
					  <tr>
					      <th>ID </th>
					      <th>IPO Name</th>
					      <th>Cost</th>     
					      <th>Quantity Available</th>     
					      <th>Buy</th>  
					      <th>Sell</th>  
					  </tr>
				  </thead>
				  <ul>
				  <tbody>
					   	 {% for ipo in ipo_list %}
						  <tr>
						      <td>
							<a href="/fm/ipos/{{ ipo.ipo_ID }}/">{{ ipo.ipo_ID }}</a>
						      </td>
						      <td>
							<a href="/fm/ipos/{{ ipo.ipo_ID }}/">{{ ipo.ipo_Name }}</a>
						      </td>
						      <td>
							{{ ipo.ipo_cost }}
						      </td>
						      <td>
							{{ ipo.ipo_Qty }}
						      </td>
						      <td> <input type="text"  name="abcd{{ forloop.counter }}" id="choice{{ forloop.counter }}"/>
						      	    <input type="hidden" name="abc{{ forloop.counter }}" value="{{ ipo.ipo_ID }}"/></td>
						      	     <td> <input type="text"  name="pqrs{{ forloop.counter }}" id="choice{{ forloop.counter }}"/>
						      	    </td>
						      	     
						  </tr>
						    {% endfor %}
						    </ul>
						{% else %}
						  <p>No No IPOs are available.</p>
						{% endif %}
				   </tbody>			 
	  		</table>
	  	<center>	
	 	<input type="submit" class="groovybutton" value="Submit" />
	  </form>
	 
	  	</center>
	</div>
    </body>
</html>

